{% extends '_layout.twig' %}

{% block advanced_meta %}

{% endblock %}

{% block content %}
    <section class="receptions-section">
        <div class="content-width">
            <h1 id="title" class="receptions-section__title">{{ page.name }}</h1>

            {% if page.description  !='' %}
                <div class="receptions-section__descr">
                    {{ page.description }}
                </div>
            {% endif %}
            {% if credits is not empty %}
                <ul class="receptions-section__credits-list">
                    {% for credit in credits %}
                        <li class="receptions-section__credit-item">
                            <a href="{{ credit.post_url }}">
                                {% if credit.main_thumnail_url !='' %}
                                    <div class="img-box">
                                        <img src="{{ credit.main_thumnail_url }}"
                                            alt="{{ credit }}"
                                            title="{{ credit }}"/>
                                    </div>
                                {% elseif credit.default_thumnail_url !='' %}
                                    <div class="img-box">
                                        <img src="{{ credit.default_thumnail_url }}"
                                            alt="{{ credit }}"
                                            title="{{ credit }}"/>
                                    </div>
                                {% endif %}
                                <div data-title="h3">
                                    {% if credit.acf.subtitle.value !='' %}
                                        {{ credit.acf.subtitle.value }}
                                    {% else %}
                                        {{ credit.post_title }}
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if config_page.tariff_info_file.value !='' %}
                <a href="{{ config_page.tariff_info_file.value }}" target="_blank">{{ lang.tariff_information_text }}</a>
            {% endif %}
            {% if page.page_text_content !='' %}
                <div class="text-page">
                    <div class="text-page__content">
                        {{ page.page_text_content }}
                    </div>
                </div>
            {% endif %}
            {% if page.info is not empty %}
                <section class="receptions-info-section">
                    {% if page.info_title !='' %}
                        <div data-title="h2">{{ page.info_title }}</div>
                    {% endif %}
                    {% for info in page.info %}
                        <div data-title="h3">{{ info.title }}</div>
                        <div class="descr">{{ info.description }}</div>
                    {% endfor %}
                </section>
            {% endif %}
        </div>
    </section>
    <section class="calculate-credit-section">
        {% include 'modules/_calculate_credits_block.twig' %}
    </section>
    <section class="receptions-section">
        <div class="content-width">
            {% if receptions is not empty %}
                <div class="receptions-section__top-block">
                    <div data-title="h2" class="receptions-section__title">{{ lang.other_pledge_variants_text }}</div>
                    <a class="btn has-border" href="{{ allCredits_permalink }}">
                        {{ lang.all_credits_text }}
                    </a>
                </div>
                <ul class="receptions-section__list">
                    {% for reception in receptions %}
                        <li class="reception-item">
                            <a href="{{ reception.link }}">
                                <div class="reception-item__img-box">
                                    <img src="{{ reception.image.url }}" alt="{{ reception.image.alt }}" title="{{ reception.image.title }}"/>
                                </div>
                                <div data-title="h3" class="reception-item__title">{{ reception.shown_name }}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}