{% if config_page.calculate_credit_title.value !=''  or config_page.calculate_credit_description.value !='' %}
	<div class="calc__box">
		{% if config_page.calculate_credit_title.value !=''%}
			<div data-title="h3" class="calc__title">{{ config_page.calculate_credit_title.value }}</div>
		{% endif %}
		{% if config_page.calculate_credit_image.value !=''%}
			<div class="calc__img-box">
				<img src="{{ config_page.calculate_credit_image.value.url }}" alt="{{ config_page.calculate_credit_image.value.alt }}" title="{{ config_page.calculate_credit_image.value.title }}"/>
			</div>
		{% endif %}
		{% if config_page.calculate_credit_description.value !=''%}
			<div class="calc__descr">
				{{ config_page.calculate_credit_description.value }}
			</div>
		{% endif %}
		{% if config_page.calculate_credit_link.value !='' %}
			<div class="calc__action">
				<a href="{{ config_page.calculate_credit_link.value }}">
					<svg viewBox="0 0 25 25" class="icon icon-more">
						<use xlink:href="#icon-more"></use>
					</svg>
				</a>
			</div>
		{% endif %}
	</div>
{% endif %}
