{% if page.acf.slider.value  is not empty %}
	<section id="slider" class="promo-gallery">
	<div class="js-promo-gallery swiper-container" data-js-bannerSlider>
		<div class="swiper-wrapper">
			{% for slider in page.acf.slider.value %}
			{% if slider.image !='' %}
			<div class="swiper-slide credit-slide" data-base-container>
				<div class="credit-slide-wrap content-width">
					<div class="credit-slide__img-box">
						<picture>
							<source media="(max-width:640px)"
								srcset="{{ slider.image_mobile.url }} 349w"
								sizes="100vw">
							<img src="{{ slider.image.url }}"
								srcset="{{ slider.image.url }} 1060w"
								sizes="100vw"
								title="{{ slider.image.title }}"
								alt="picture test">
						</picture>
					</div>
					<div class="credit-slide__content">
						{% if slider.link_title !='' %}
							<div data-title="h2" class="credit-slide__title">{{ slider.link_title }}</div>
						{% endif %}
						{% if slider.text !='' %}
							<div class="credit-slide__descr">{{ slider.text }}</div>
						{% endif %}
						{% block main_calculator_on_slider %}
							{% if slider.button_text and slider.link %}
								<a href="{{ home_url }}{{ slider.link }}"
								   class="button60 banner-button"
								   style="background-color: {{ slider.calculator_button_color }}; border-color: {{ slider.calculator_button_color }}"
								>{{ slider.button_text }}</a>
							{% else %}
								<a href="#main-calculator-popup"
								   class="fancybox-calc button60 banner-button"
								   style="background-color: {{ slider.calculator_button_color }}; border-color: {{ slider.calculator_button_color }}"
								>{{ lang.calculate_text }}</a>
							{% endif %}
						{% endblock %}
						{% if slider.link !=''%}
							<div class="credit-slide__action">
								<a class="credit-slide__link" href="{{ slider.link }}">
									<svg viewBox="0 0 25 25" class="icon icon-more">
										<use xlink:href="#icon-more"></use>
									</svg>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="swiper-pagination content-width"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
	</section>
{% endif %}