<div class="form_field">
    <input
           id="sender_name"
           placeholder="{{ labels.sender_name }}"
           name="akni-callback-settings[sender_name]"
           type="text"
           class="input"
           value="{{ options.sender_name }}"
    />
    <label for="sender_name">{{ labels.sender_name }}</label>
</div>
<div class="form_field">
    <input
           id="sender_email"
           placeholder="{{ labels.sender_email }}"
           name="akni-callback-settings[sender_email]"
           type="email"
           class="input"
           value="{{ options.sender_email }}"
    />
    <label for="sender_name">{{ labels.sender_email }}</label>
</div>
<div class="form_field">
    <input
           id="recipient"
           placeholder="{{ labels.recipient }}"
           name="akni-callback-settings[recipient]"
           type="email"
           class="input"
           value="{{ options.recipient }}"
    />
    <label for="sender_name">{{ labels.recipient }}</label>
</div>

<div class="form_field">
    <input
            id="recipient"
            placeholder="{{ labels.vacancy }}"
            name="akni-callback-settings[vacancy]"
            type="email"
            class="input"
            value="{{ options.vacancy }}"
    />
    <label for="sender_name">{{ labels.vacancy }}</label>
</div>

<div class="form_field">
    <input
            id="recipient"
            placeholder="{{ labels.tech }}"
            name="akni-callback-settings[tech]"
            type="email"
            class="input"
            value="{{ options.tech }}"
    />
    <label for="sender_name">{{ labels.tech }}</label>
</div>
<div class="form_field">
    <input
            id="recipient"
            placeholder="{{ labels.subscribe }}"
            name="akni-callback-settings[subscribe]"
            type="email"
            class="input"
            value="{{ options.subscribe }}"
    />
    <label for="sender_name">{{ labels.subscribe }}</label>
</div>


<div class="submit">
    <input type="submit" value="{{ labels.submit_text }}" />
</div>