<form name="export-page" method="post" action="{{ current_url }}">
    <input type="submit" name="export" value="export"/>
</form>
{% if file is not empty %}
    <a href="{{ file }}">file</a>
{% endif %}
<table style="border-collapse: collapse; text-align: center" class="order-table" border="1">
    <style>
        td {
            padding: 3px;
        }
    </style>
    <tr>
        <td>Id</td>
        <td>Почта</td>
        <td>Дата</td>
        <td>Удалить</td>
    </tr>
    {% for subscribe in subscribes %}
        <tr>
            <form name="order-page" method="post" action="{{ current_url }}">
                <td>
                    {{ subscribe.id }}
                    <input type="hidden" name="id" value="{{ subscribe.id }}" />
                </td>
                <td>{{ subscribe.email }}</td>
                <td>{{ subscribe.date }}</td>
                <td class="delete">
                    <input type="submit" name="delete" value="delete"/>
                </td>
            </form>
        </tr>
    {% endfor %}
</table>
