<div class="calculator1">
    <div class="calculator__items">
        <form class="wpcf7-form" action="#" name="calc" method="POST">
            <div class="form-box1">

                <button @click="backToStartStep()" type="button" class="calculator__calculate-btn-mobile button60" id="backToStartTeth">Назад</button>
                <button @click="backStep()" type="button" class="calculator__calculate-btn-mobile button60" id="backTeth">Назад</button>
                <div class="mobile_block">
                    <div class="first">
                        <span class="calculator__input-box">
                            <strong>{{ lang.assessment_of_appearance }}*</strong>
                        </span>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="0.495" checked>
                            <label class="form-check-label" for="exampleRadios5">
                                {{lang.ideal_condition}}
                            </label>
                        </div>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="0.451">
                            <label class="form-check-label" for="exampleRadios4">
                                {{lang.good_condition}}
                            </label>
                        </div>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="0.407">
                            <label class="form-check-label" for="exampleRadios3">
                                {{lang.normal_condition}}
                            </label>
                        </div>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="0.308">
                            <label class="form-check-label" for="exampleRadios2">
                                {{lang.not_bad_condition}}
                            </label>
                        </div>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="0.1">
                            <label class="form-check-label" for="exampleRadios1">
                                {{lang.bad_condition}}
                            </label>
                        </div>
                    </div>
                    <div class="second" style="display: none; ">
                        <span class="calculator__input-box">
                            <strong>{{ lang.grade_evaluation }}*</strong>
                        </span>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios15" value="0.1" checked>
                            <label class="form-check-label" for="exampleRadios15">
                                {{lang.perfect_set}}
                            </label>
                        </div>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios14" value="0.07">
                            <label class="form-check-label" for="exampleRadios14">
                                {{lang.full_set}}
                            </label>
                        </div>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios13" value="0.04">
                            <label class="form-check-label" for="exampleRadios13">
                                {{lang.unfull_set}}
                            </label>
                        </div>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios12" value="0.01">
                            <label class="form-check-label" for="exampleRadios12">
                                {{lang.charger_only}}
                            </label>
                        </div>
                        <div class="form-check calculator__input-box">
                            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios11" value="0.005">
                            <label class="form-check-label" for="exampleRadios11">
                                {{lang.empty_set}}
                            </label>
                        </div>
                    </div>
                    <div class="final" style="display: none; ">
                        {{ send_form }}
                    </div>
                </div>
                <button @click="nextStep()" id="nextStepTech" type="button" class="calculator__calculate-btn-mobile button60">{{lang.nextStep}}</button>
            </div>

            {# не убирать класс wpcf7-checkbox #}
        </form>
    </div>
    <div class="calculator__items">
    {#     <div class="form-box is-dropzone">
            <div id="js-dropzone" class="dropzone">
                <div class="fallback">
                    <span class="wpcf7-form-control-wrap photo">
                        <input type="file" name="photo" size="40" class="wpcf7-form-control wpcf7-file" aria-invalid="false"/>
                    </span>
                </div>
                <p>
                    <a href="#" class="btn has-border">{{ lang.tech_photo_text }}</a>
                </p>
            </div>
        </div> #}
    </div>
</div>
{# </div> #}
