{% if page.acf.vacancy_slide.value %}
	<section id="slider" class="promo-gallery vacancy">
		<div class="js-promo-gallery swiper-container" data-js-bannerSlider>
			<div class="swiper-wrapper">
				{% for slider in page.acf.vacancy_slide.value %}
					{% if slider.image !='' %}
						<div class="swiper-slide" data-base-container>
							{# <div class="content-width"> #}
								<div class="img-wrap">
									<img src="{{ slider.image.url }}"
										 title="{{ slider.image.title }}"
										 alt="{{ slider.image.alt }}">
								</div>
								<div class="text-wrap">
									{% if slider.title !='' %}
										<div data-title="h2" class="">{{ slider.title }}</div>
									{% endif %}
									<a class="button60" href="#about-work" {% if slider.first_button_color !='' %}style="background-color: {{ slider.first_button_color }}"{% endif %}>
										{{ lang.about_work_text }}
									</a>
									<a class="button60" href="#vacancy-list" {% if slider.second_button_color !='' %}style="background-color: {{ slider.second_button_color }}"{% endif %}>
										{{ lang.vacancy_text }}
									</a>

								</div>
							{# </div> #}
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>
{% endif %}